<div class="comments">
  {{#each this}}
    <section class="comment container block has-background-dark has-text-grey-lighter">
      <div class="text comment-text">
        {{comment_text}}
      </div>
      <div>
        -
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
    </section>
  {{/each}}
</div>