<form class="edit-post-form container ">
  <div class="block has-background-dark has-text-grey-lighter">
    <h2 class="is-size-4">Edit Post</h2>
  </div>  
  <div class="edit-post">
    <label for="post-title">Title</label>
    <input class="box"
      type="text"
      id="post-title"
      name="post-title"
      value="{{post.title}}"
    />
  </div>
  <div class="edit-post">
    <label for="post-content">Content</label>
    <textarea id="post-Content" class="box">{{post.content}}</textarea>
  </div>
  <div class="buttons">
      <button type="submit" class="btn button is-dark">Update Post</button>
  </div>
  <div class="buttons">
    <button type="button" class="delete-post-btn button is-dark">Delete</button>
  </div>  
</form>

<form class="comment-form container">
  <div class="block has-background-dark has-text-grey-lighter">
    <h2 class="is-size-4">Comments</h2>
  </div>
  <div class="comment-section">
      <div>
        <textarea name="comment-body" class="box"></textarea>
      </div>
      <div>
        <button type="submit" class="button is-dark add-comment">add comment</button>
      </div>
      <div class="comments">
          {{> comments post.comments}}
      </div>
  </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>