<h1>
  <a href="/dashboard">Your Dasboard</a>
</h1>

<form class="edit-post-form">
  <h2>Edit Post</h2>
  <div>
    <label for="post-title">Title</label>
    <input
      type="text"
      id="post-title"
      name="post-title"
      value="{{post.title}}"
    />
  </div>
  <div>
    <label for="post-content">Content</label>
    <textarea id="post-Content">{{post.content}}</textarea>
  </div>
  <button type="submit" class="btn">Update Post</button>
  <button type="button" class="delete-post-btn">Delete</button>
</form>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>