<div class="single-post">
  {{> post-info post}}
</div>


{{#if loggedIn}}
  <form class="comment-form container">
    <div class="block has-background-dark has-text-grey-lighter">
      <h2 class="is-size-4">Add comment</h2>
    </div>
    <div class="comment-section">
      <div>
        <textarea class="box" name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit" class="button is-dark comment-submit">Submit</button>
      </div>
    </div>
  </form>
{{/if}}

<div class="container previous-comments">
  <div class="block has-background-dark has-text-grey-lighter">
    <h2 class="is-size-4">Previous Comments</h2>
  </div>
  <div class="comment-section">
    <div class="comments">
      {{> comments post.comments}}
    </div>
  </div>
</div>



{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}