.edit-post-form,
.comment-form,
.previous-comments,
.post {
  border: 4px solid hsl(0, 0%, 21%);
  border-radius: 5px;
}

.post-title-header,
.dashboard-title-header {
  display: flex;
  justify-content: space-between;
}

.post-title {
  font-size: xx-large;
  margin-left: 4px;
}

.post-title:hover a {
  color: hsl(0, 0%, 86%);
}

.dashboard-post-title:hover a {
  color: hsl(0, 0%, 86%);
}

.post-content {
  margin-left: 4px;
  padding-left: 5px;
}

.dashboard-head {
  margin: 10px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 15px;
}

.meta {
  text-align: center;
}

.single-post {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal textarea,
.edit-post textarea,
.comment-form textarea {
  min-height: 100px;
  margin-bottom: 1%;
}

.modal input,
.modal textarea,
.modal .content,
.modal button,
.comment-submit {
  margin-bottom: 2%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.comment-text {
  padding-bottom: 2%;
}

.signup-form,
.login-form,
.edit-post-form {
  margin-bottom: 2%;
  margin-top: 2%;
  padding-bottom: 2%;
}

.edit-post-form .buttons .btn,
form label {
  display: block;
}

.signup-form,
.login-form,
.previous-comments h2,
.comment-form h2,
.comment-section,
.edit-post-form .buttons,
.edit-post-form h2,
.edit-post {
  padding-left: 2%;
  padding-right: 2%;
}

.modal input,
.modal textarea,
.modal button,
.comment-form .add-comment,
.comment-form .comment-submit,
.comment-section textarea,
.edit-post input,
.edit-post textarea,
.edit-post-form .buttons .btn,
.edit-post-form .buttons .delete-post-btn {
  width: 100%;
}

.signup-form div,
.login-form div,
.comment-form,
.comment-section button,
.comment-section .comments {
  margin-bottom: 2%;
}
